* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background: linear-gradient(90deg, #fff 20px, transparent 1%) center,
    linear-gradient(#fff 20px, transparent 1%) center, #ff6f61;
  background-size: 22px 22px;
}

.check:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.edit:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.delete:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.plus {
  position: fixed;
  bottom: 30px;
  right: 30px;
  color: #ff6f61;
}

.plus:hover {
  cursor: pointer;
  transition: 500ms ease-in-out;
  transform: rotate(90deg);
}
